* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-image: url(images/mountains-universe-1.png);
  background-size: cover;
  background-position: 100%;
  max-width: 90%;
  margin: auto;
  min-height: 90vh;
}

body.universe {
  background-image: url(./images/mountains-universe02.png);
}

body.explorer {
  background-image: url(./images/mountains-universe-3.png);
}


h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #E1E1E6;
}

p {
  font-size: 1.8rem;
  line-height: 2.88rem;
  color: #E1E1E6;
  margin-top: 1.6rem;
  max-width: 64.8rem;
}

nav a {
  font-size: 2.17rem;
  line-height: 2.17rem;
  text-decoration: none;
  color: #C4C4CC;
}

nav a:hover {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
}

.checked {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 4rem 0;
}

nav .navigation {
  display: flex;
  gap: 3.2rem;
}

body #app {
  min-height: 51vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

body #app .home {
  text-align: center;
}

body.universe #app, body.explorer #app {
  min-height: 40vh;
  justify-content: left;
}


button {
  padding: 1.2rem 3.2rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  color: #02799D;
  background-color: #FFFFFF;
}

@media (max-width: 490px) {
  nav {
    flex-direction: column;
  }
  
}

@media (max-width: 390px) {
  nav .navigation {
    flex-direction: column;
    align-items: center;
  }
}